
.header {
  display: flex;
  justify-content: space-between;
  border : 1px solid black;
}
.logo{
  width:100px; 
  padding:10px 10px;
}

.nav-items > ul{
  display: flex;
   list-style: none;
}
.nav-items > ul > li {
  padding:10px;
  margin:10px;
 
}
.res-container{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.res-card{
  padding:5px;
  width:200px;
  height:300px;
  cursor:pointer;
}

.res-card:hover{
  border: 1px solid black;
}

.res-logo{
  width: 100%;
}

.search{
  padding: 10px;
}